
@import url('https://fonts.google.com/specimen/Satisfy');

:root {
    --primary-color: #ff436f;
    --secondary-color: #dcf2b0;
    --accent1-color: #efc3e6;
    --accent2-color: #00afb9;

    --heading-font: 'Satisfy', serif;
    --paragraph-font: 'Satisfy', serif;

    --nav-background-color: #c9eb86;
    --nav-link-color: #00afb9;
    --nav-hover-link-color: #e1345d;
    --nav-hover-background-color: #b762a6;
} 

body {
    font-family: specimen(paragraph-font);
    max-width: 960px;
    padding: 20px;
    
}

 
 
header {
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

p {
    color:#e47fbf;
    font-family: 'Times New Roman', Times, serif;
} 


 
#hero img{
   display:block;
   height:auto; 
   width:300%;
}   

h1{
 position: absolute;
 top:40px;
 left:40px;
} 

article{
 position: absolute;
 background-color: silver;
} 

.hero{
  position:relative;
  height: 300px;
  width: 900px;
  overflow: hidden ;
}

.hero article img{
    float:right;
}  

.hero h1{
    position:absolute;
    top: 10px;
    width:100%;
    background-color:#e1345d;
    text-align: center; 
    opacity: 70%; 
    font-weight: bolder;
}

.hero article{
    position: absolute;
    right: 130px;
    top:100px;
    float: right;
    font-weight: bolder;
    opacity: 95%;
    margin:auto;
    background-color:#efc3e6;
    width:80%
} 

.hero article img{
   float:right;
} 

section img{
    width: 250px;
    height:160px;
} 

section h2{
  text-align: center;
;} 

.adventure{
 display:flex;
 justify-content: start;
 max-width:100px;
}

header{
 margin:1rem auto;
 display:grid;
 grid-template-columns: 120px 1fr 2fr;
 align-items: center;
 border-bottom:#e47fbf;
 max-width: 1000px;
} 

.logo img{
 margin:0 0.25rem 0 1rem;
 width:64px;
 height: auto;
} 

h1{
 font-size: small;
 font-family: Georgia, 'Times New Roman', Times, serif;
} 

nav{
 text-align: right; 
} 

.navigation{
 display:flex;
 list-style:none;
} 

.navigation li{
 flex: 1 1 100%;
} 

.navigation a{
 display:block;
 color:#efc3e6;
 padding: 20px;
 text-decoration: none;
} 

.navigation a:hover{
 color:#00afb9;
 font-weight:700;
 text-decoration: underline;
} 

figure{
  border:thin  #dcf2b0 solid;
  display:flex;
  flex-flow:column;
  padding:5px;
  max-width: 220px; 
  margin: auto;
} 

img{
 max-width:220px;
 max-height: 220px; 
} 

figcaption{
 background-color: #e47fbf;
 color:#e1345d;
 font:italic smaller sans-serif;
 padding:3px;
 text-align:center;
}
 