@import url(https:/fonts.google.com/specimen/Agdasima); 
:root {
    --primary-color: #ff436f;
    --secondary-color: #dcf2b0;
    --accent1-color: #efc3e6;
    --accent2-color: #00afb9;

    --heading-font: 'Satisfy', serif;
    --paragraph-font: 'Satisfy', serif;

    --nav-background-color: #c9eb86;
    --nav-link-color: #00afb9;
    --nav-hover-link-color: #e1345d;
    --nav-hover-background-color: #b762a6;
} 

body {
    font-family:'Times New Roman', Times, serif;
    margin:0;
    padding: 0;
    color:darkmagenta;    
}

h1, h2, h3, h4, h5, h6{
  color:black;
  text-align: center;
  font-size: medium;
  line-height: normal;
}

section h2{
  text-align: center;
}

p{
 font-size:medium ;
 line-height: normal;
}

 a{
  text-decoration: none;
  color:darkturquoise;
}

.sociallinks a{
 text-decoration: none;
 color:#e1345d;
}

a.nav-link{
  text-decoration: none;
  color:silver;
  background-color: #efc3e6;
  padding: 5px 10px;
}

a.nav-link:hover{
  background-color:gray;
  color:#ff436f;
}

.header-container{
  display:grid;
  grid-template-columns: auto 1fr;
  align-items:center;
  background-color: silver;
}

.logo{
 display:flex;
 align-items:center;
 padding:10px;
 gap:10px 
}

.logo img{
  height:70px;
  border: silver;
}   

.header-container .logo h1{
  color:silver;
}

.nav-container{
  display:flex;
  justify-content:center;
  align-items:center;
}

.nav-container a{
   text-decoration:none;
   color:deeppink;
}

header nav{
  display:flex;
  justify-content:center;
  align-items:center;
}

header nav a{
  margin:0 10px
}

.hero{
  position:relative;
  width:100%;
  max-width:1200px;
  margin:0 auto;
  overflow:hidden;
}

.hero-overlay{
 position: absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background:aqua;
} 

.hero-img{
  display:block;
  width:100%;
  height:auto;
  margin:0 auto;
} 

.hero h1{ 
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, 50%);
  font-size:3rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0, 0.5);
  color:purple;
  background-color:black;
}

article{
  margin-top:var(--section-spacing);
  padding: 20px;
  background-color:lightpink;
  box-shadow:0 0 10px silver;
  width:100%;
  max-width:800px;
  margin:0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-sizing:border-box;
} 

.client-img{
  width:200px;
  height:auto;
  position:relative;
  top:20px;
  right:20px;
  margin:20px;
  float: right;
  margin-left:20px;
  margin-bottom:20px;
} 

article p{
  margin-bottom:20px;
  text-align:left;
} 

article .text-container{
  flex:1;
} 

section{
  width:100%;
  max-width:800px;
  margin: 0 auto;
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  padding: 12px;
  background-color:lightpink;
  border: 1px solid silver;
  box-sizing:border-box;
}
.image-section{
  max-width: 800px;
  margin:0 auto;
  padding:40px 20px;
} 

.image-group figure{
  flex:0 0 200px;
  margin:10px;
  text-align: center;
  box-sizing: border-box;
} 

.image-group img{
 display:block;
 width:100%;
 height:auto;
 max-width: 200px;
 margin-bottom: 10px;
} 

section p{
 margin-bottom:20px;
 text-align: left;
}

figure img{
  width:100%;
  height:auto;
  max-width: 300px;
  margin-bottom:10px;
} 

figcaption{
  text-align: center;
} 

footer{
 background-color: #efc3e6;
 color:purple;
 text-align: center;
 padding:20px;
 display:flex;
 justify-content: space-between;
 align-items: center;
}

footer p{
 flex: 1;
 color:aqua;
} 

.sociallinks{
 display:flex;
 justify-content: flex-end;
 align-items: center;
} 

.sociallinks a{
  margin-left: 10px;
  text-decoration: none;
  color:crimson;
} 

.sociallinks img{
  width:30px;
  height: 30px;
} 

.company-info{
  margin-top:var(--secondary-color);
  padding:20px;
  background-color: darkgray;
  box-shadow: #b762a6;
  width:100%;
  max-width: 800px;
  margin: 0 auto;
  overflow:hidden;
  display:flex;
  flex-direction: column; 
  border:1px solid black;
  box-sizing: border-box;
 } 

.map-container{
   margin-top: 20px;
   width: 100%;
} 

.employee-profiles figure img{
   width:200px;
   height:auto;
   margin-bottom: 10px
} 

.employee-profiles{
  margin-top: 12px; 
  padding:20px;
  background-color: cyan;
  box-shadow: black;
  width:100%;
  max-width:800px;
  margin:0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border:1px solid black;
  box-sizing: border-box;
} 
.client-img{
   width:200px;
   height: auto;
   position: relative;
   top:20px;
   right:20px;
   margin:20px;
   float: right;
   margin-left:20px;
   margin-bottom:20px;
}  

.contact-form{
  margin-top: 20px;
  padding: 20px;
  background-color: ghostwhite;
  box-sizing: 0 0 10px; 
  width:100%;
  max-width:800px;
  margin: 0 auto;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  border:1px solid silver;
  box-sizing:border-box;
} 

.contact-form label{
  margin-bottom: 10px;
} 

.contact-form input,
.contact-form textarea,
.contact-form select{
    margin-bottom: 20px;
    padding:5px;
    width:100%;
}  

.contact-form button[type="submit"]{
   background-color: #ff436f;
  color:#efc3e6;
  padding:10px 20px;
 border:none;
 cursor:pointer;
} 

.contact-form button[type="submit"]:hover{
    background-color:darkgray;
}
