main{  
  max: width 840px; 
}


aside {
  margin: 20em;
  border: 1px solid hotpink;
  padding: 1em;
  background-color: lightpink;
  color: darkmagenta;
  text-align: center;
}

aside img{
  width:200px;
  height:auto;
}

main img{
  width: 150px;
  height:auto;
} 

p{padding:0,}

footer{
  margin: 1em;
  border-top: 1px solid  grey;
  text-align:center;
}
nav{
  background-color: hotpink;
  padding: 10px;} 

nav a{
    color: white;
    padding: 20px; 
    display:block;
} 

h1{ 
  color:darkviolet; 
} 




footer{
  margin-top: 1em;
  border-top: 1px solid  gray;
  text-align:center;
}